<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:application name="shop_back"/>
    <dubbo:registry protocol="zookeeper" address="192.168.112.128:2181"/>
    <dubbo:reference interface="com.shangtouhua.service.api.ITypesService" id="typeService" timeout="1000" retries="10"/>
    <dubbo:reference interface="com.shangtouhua.service.api.IGoodsService" id="goodService" timeout="1000" retries="10"/>
</beans>